# Build folders
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Rider
.idea/

# VS Code
.vscode/

# Logs
*.log

# Publish
publish/

# NuGet
packages/

# Environment
.env
.env.*
appsettings.Development.json

# Angular
node_modules/
dist/
.angular/

# OS
Thumbs.db
.DS_Store